.productItem {
    width: 320px;
    height: 148px;
    padding: 18px;
    transition: transform 0.3s ease;
    color: rgba(12, 0, 0, 1);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../../../../../public/categoryBackground.png");
}

.productItem:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    align-items: center;
    padding: 0;
}

.itemBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 18px;
    text-align: left;
    justify-content: space-between;
    text-transform: none;
}