.button {
    width: 215px;
    height: 43px;
    padding: 0;
    background-image: url("../../../public/buttons-background/connectBtnBackgroundWhite.svg")!important;
    background-repeat: no-repeat;
    background-color: transparent!important;
    box-shadow: none!important;
    transition: transform 0.25s
}

.connectButton {
    color: rgba(12, 0, 0, 1);
}

.connectButton:hover {
    background-color: transparent;
    box-shadow: none;
    transform: scale(1.05);
}

.connectedButton {
    color:#ffffff!important;
    -webkit-filter: brightness(60%)!important;
    background-image: url("../../../public/buttons-background/connectBtnBackgroundGray.svg")!important;
}