.paymentModalContainer {
    position: absolute;
    width: 620px;
    height: 600px;
    top: calc(50% - 310px);
    left: calc(50% - 300px);
    border-radius: 6px;
    overflow: hidden;
}

.successModalContainer {
    position: absolute;
    width: 900px;
    height: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 450px);
    border-radius: 6px;
    overflow: hidden;
}

.failModalContainer, .pendingModalContainer {
    position: absolute;
    width: 400px;
    height: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    border-radius: 6px;
    overflow: hidden;
}

.btn {
    background-image: url("../../../public/buttons-background/160-button.svg");
    background-repeat: no-repeat;
    width: 163px;
    height: 43px;
}