.invoiceTable {
    min-width: 700px;
    border-radius: 6px;
    border-collapse: unset;
    border: 3px solid;
    border-image: linear-gradient(39deg, #343434 -7.27%, #FBFBFB 45.86%, #3F3F3F 118.09%) 1;
}

.borderLeftCell {
    border-left: 1px solid;
}

.identityLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    column-gap: 5px
}

.btn {
    background-image: url("../../../../public/buttons-background/160-button.svg");
    background-repeat: no-repeat;
    width: 163px;
    height: 43px;
}

.assetCellContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    left: -16px;
    margin-top: 2px;
}

.assetCellContainer img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}