.customRow {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
}

.customLabel {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.customBody {
    width: 75%;
}

.customRow img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}