.medium10 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}

.medium12 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.medium14 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.medium16 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.medium18 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.medium20 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.bold10 {
    font-family: 'Inter', serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
}

.bold12 {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

.bold14 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.bold16 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.bold18 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.bold20 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.bold22 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.bold24 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.bold26 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}

.bold28 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.bold30 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.bold40 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.productTitle20 {
    color: #0C0000;
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.productDescription10 {
    color: #3E3E3E;
    font-family: Inter, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.productIdentity10 {
    color: #0C0000;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}